<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="vanitaapplebee.cordova.tm470mathsapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TM470 Maths App</name>
  <description>Mathematics learning app for 5 year old children</description>
  <author email="vanita.tech@gmail.com">Vanita Applebee</author>
  <content src="index.html"/>
</widget>